// Badges
@mixin badge-variant($bgcolor: $color-primary) {
  background-color: $bgcolor;
}
.badge {
    position: relative;
    white-space: nowrap;

    &[data-badge],
    &:not([data-badge]) {
      &::after {
        content: attr(data-badge);
        display: inline-block;
        color: $color-light;
        @include badge-variant($color-primary);
        border-radius: $badge-radius;
        box-shadow: $badge-shadow;
        box-sizing: border-box;
        transform: translate(-.05rem, -.5rem);
      }
    }
    &[data-badge] {
      &::after {
        min-width: $badge-size;
        height: $badge-size;
        padding: 0 3px;
        line-height: $badge-size;
        font-size: $badge-fontsize;
        text-align: center;
        white-space: nowrap;
      }
    }
    &:not([data-badge]),
    &[data-badge=""] {
      &::after {
        height: 8px;
        min-width: 8px;
        padding: 0;
        width: 8px;
      }
    }

    &--red {
      &[data-badge],
      &:not([data-badge]) {
        &::after {
          @include badge-variant($color-error);
        }
      }
    }

    &--orange {
      &[data-badge],
      &:not([data-badge]) {
        &::after {
          @include badge-variant($color-warning);
        }
      }
    }

    &--green {
      &[data-badge],
      &:not([data-badge]) {
        &::after {
          @include badge-variant($color-success);
        }
      }
    }

    // Badges for Buttons
    &.btn {
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
      }
    }
}
