// Buttons
@mixin button-variant($color: $color-primary) {
    background-color: $color;
    border-color: $color;
    color: #fff;
    &:hover {
      background-color: lighten($color, 5%);
    }
    &:active {
      background-color: darken($color, 5%);
    }

    &.has-loading {
      &:hover,
      &:active {
        background-color: $color;
      }
      @include loading($color: #fff, $size: 20px);
    }
}

.btn {
  position: relative;
  display: inline-block;
  height: $btn-height;
  line-height: 1.3;
  vertical-align: middle;
  padding: $btn-padding;
  font-family: inherit;
  font-size: inherit;
  font-weight: $btn-weight;
  letter-spacing: .05rem;
  text-decoration: none;
  text-align: center;
  color: $btn-color;
  background-color: transparent;
  border: $btn-border-width solid $color-primary;
  border-radius: $btn-radius;
  user-select: none;
  cursor: pointer;
  &:hover {
    color: $btn-hover-color;
    background-color: $btn-hover-bg;
  }
  &:active {
    color: $btn-hover-color;
    background-color: darken($color-primary, 10%);
  }
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  &--link {
    background-color: transparent;
    border: transparent;
    color: $btn-color;
    &:hover {
      background-color: transparent;
      color: darken($btn-color, 10%);
    }
    &:active {
      background-color: transparent;
      color: darken($btn-color, 10%);
    }
  }

  &.has-loading {
    @include loading($color: $color-primary, $size: 20px);
    color: transparent;
    pointer-events: none;
  }

  &--primary {
    @include button-variant($color-primary);
  }

  &--warning {
    @include button-variant($color-error);
  }

  &--success {
    @include button-variant($color-success);
  }


  &--block {
    display: block;
    width: 100%;
  }
}

.btn-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  &--inline {
    display: inline-flex;
  }

  .btn {
    border-radius: 0;
    &:first-child {
      border-top-left-radius: $btn-radius;
      border-bottom-left-radius: $btn-radius;
    }
    &:last-child {
      border-top-right-radius: $btn-radius;
      border-bottom-right-radius: $btn-radius;
    }
    + .btn {
      border-left: $btn-border-width solid darken(royalblue, 5%);
      margin-left: -$btn-border-width;
    }
  }
}

.btn[disabled],
.btn--disabled {
  pointer-events: none;
  opacity: .7;
  &:hover {
    background-color: transparent;
    color: royalblue;
  }
}
