// Cards

.card {
    display: flex;
    flex-direction: column;
    background: $card-background;
    border: $card-border;
    border-radius: $card-radius;
    box-shadow: $card-shadow;
}

.card__header,
.card__body,
.card__footer {
    padding: $card-padding;
}

.card__header {
    border-bottom: $card-divider-border;
}

.card__footer {
    border-top: $card-divider-border;
}
