// Grid

.grid {
  display: grid;
  grid-gap: $grid-gap;
  grid-template-columns: repeat($grid-columns, minmax(0, 1fr));
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  &--forms {
    grid-row-gap: 0;
    align-items: center;
  }
}

%column {
  grid-column: span 12;
}

$column-name: '.col';

@each $postfix in map-keys($breakpoints) {
  @for $i from 1 through $grid-columns {
    #{$column-name}-#{$postfix}-#{$i} {
      @extend %column
    }
  }

  $size: map-get($breakpoints, $postfix);
  @media (min-width: $size) {
    @for $i from 1 through $grid-columns {
      #{$column-name}-#{$postfix}-#{$i} {
        grid-column: span $i;
      }
    }
  }
}
