// Labels
@mixin label-variant($bgcolor: #ccc, $color: #333) {
  background-color: $bgcolor;
  color: $color;
}

.label {
    display: inline-block;
    padding: $label-padding-y $label-padding-x;
    font-size: $label-font-size;
    font-weight: $label-font-weight;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: $label-border-radius;
    @include label-variant();


    &:hover,
    &:focus {
        text-decoration: none;
    }

    // Empty badges collapse automatically
    &:empty {
      display: none;
    }

    &.label--primary {
        @include label-variant($color-primary, #fff);
    }

    &.label--success {
        @include label-variant($color-success, #fff);
    }

    &.label--warning {
        @include label-variant($color-warning, #fff);
    }

    &.label--error {
        @include label-variant($color-error, #fff);
    }
  }
