@import '../../scss/app.scss';

.logo {
  padding: 15px;
  font-size: 2.2rem;
  white-space: nowrap;
  span:last-child {
    font-weight: 700;
    color: $color-primary;
  }
}

.sidebar {
  background-color: #f1f1f1;
  @include min(768) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 220px;
    overflow-y: auto;
    z-index: 1000;
  }
}

.content {
  max-width: 850px;
  padding: 30px;
  @include min(768) {
    margin-left: 220px;
  }
}

section {
  padding-top: 30px;
  padding-bottom: 30px;
}

footer {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  @include min(768) {
    margin-left: 220px;
  }
}

// Nav
.nav {
  padding: 15px;
}
.nav-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.nav-list__link {
  display: block;
  margin-bottom: 0.3rem;
  padding: .5rem .7rem;
  text-transform: capitalize;
  font-size: .9rem;
  font-weight: 600;
  letter-spacing: .03rem;
  border-radius: $border-radius;
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
  &:hover {
    background-color: rgba($color-dark, .07);
  }
}

.btns-variant {
  button {
    margin: 3px;
  }
}

.grid-demo > * {
  padding: 15px;
  background-color: #ddd;
}
