{% extends 'layouts/layout.html' %}

{% block content %}

<div class="wrap">
  <aside class="sidebar">
    <div class="logo">Micro <span>CSS</span></div>
    <nav class="nav">
      <ul class="nav-list" id="navlist">
        <li><a href="#typography" class="nav-list__link">typography</a></li>
        <li><a href="#forms" class="nav-list__link">forms</a></li>
        <li><a href="#buttons" class="nav-list__link">buttons</a></li>
        <li><a href="#badges" class="nav-list__link">badges</a></li>
        <li><a href="#labels" class="nav-list__link">labels</a></li>
        <li><a href="#cards" class="nav-list__link">cards</a></li>
        <li><a href="#breadcrumbs" class="nav-list__link">breadcrumbs</a></li>
        <li><a href="#responsive-embed" class="nav-list__link">responsive-embed</a></li>
        <li><a href="#tables" class="nav-list__link">tables</a></li>
        <li><a href="#pagination" class="nav-list__link">pagination</a></li>
        <li><a href="#toasts" class="nav-list__link">toasts</a></li>
      </ul>
    </nav>
  </aside>
  <main class="content">
    {% set sections = [
      'typography',
      'forms',
      'buttons',
      'badges',
      'labels',
      'cards',
      'breadcrumbs',
      'responsive-embed',
      'tables',
      'pagination',
      'toasts'
      ]
    %}

    <h1>CSS</h1>
    <p>My set css components for a quick start</p>

    {% for section in sections %}
      {% include './partials/' + section + '.html' %}
      <hr>
    {% endfor %}
  </main>
  <footer>
    Have fun
  </footer>
</div>

{% endblock %}
