<section id="buttons">
  <h2>Buttons</h2>
  <div class="btn-group">
    <button class="btn">Create</button>
    <button class="btn">Update</button>
    <button class="btn">Remove</button>
  </div>
  <button class="btn">Default</button>
  <button class="btn btn--primary">Primary</button>
  <button class="btn btn--warning">Warning</button>
  <button class="btn btn--success">Success</button>
  <button class="btn" disabled>Disabled</button>
  <button class="btn btn--primary has-loading">Loading</button>
  <button class="btn btn--link">Link</button>
</section>
