<section id="cards">
  <h2>Cards</h2>
  <div class="grid">
    <div class="col-md-6">
      <div class="card">
        <div class="card__header">Card Header</div>
        <div class="card__body">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa accusamus voluptas alias commodi, voluptate, molestias expedita at, dolorem ipsum doloribus sunt quasi enim quae natus. Aliquam, ab voluptate. Iste, nobis.</p>
        </div>
        <div class="card__footer">Card Footer</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card__header">Card Header</div>
        <div class="card__body loading">
          <p class="invisible">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa accusamus voluptas alias commodi, voluptate, molestias expedita at, dolorem ipsum doloribus sunt quasi enim quae natus. Aliquam, ab voluptate. Iste, nobis.</p>
        </div>
        <div class="card__footer">Card Footer</div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card__body">
          <h3>Title</h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi praesentium sunt earum sapiente explicabo dolor tempore perferendis labore nihil reprehenderit dicta optio delectus repudiandae nam fuga iusto inventore incidunt, corporis saepe similique hic cupiditate repellat sint nulla. Voluptatum possimus expedita iusto velit. Doloribus dolorum, soluta ab, saepe perspiciatis reiciendis quaerat nesciunt amet iure necessitatibus explicabo ea ipsam facilis omnis modi, sequi corrupti culpa esse? In modi rem eveniet, enim repellat molestias vero aspernatur? Neque facere esse quod aut, distinctio blanditiis amet incidunt vitae dolore hic necessitatibus tempore harum obcaecati officia, culpa delectus est. Tenetur unde repudiandae officia, optio laboriosam accusantium.
        </div>
      </div>
    </div>
  </div>
</section>
