<section id="pagination">
  <h2>Pagination</h2>
  <ol class="pagination">
    <li class="pagination__item pagination__item--prev is-disabled">
      Prev
    </li>
    <li class="pagination__item">
      <a href="#0" class="pagination__link">1</a>
    </li>
    <li class="pagination__item pagination__item--truncate">...</li>
    <li class="pagination__item">
      <a href="#0" class="pagination__link is-active">20</a>
    </li>
    <li class="pagination__item">
      <a href="#0" class="pagination__link">30</a>
    </li>
    <li class="pagination__item pagination__item--truncate">...</li>
    <li class="pagination__item pagination__item--next">
      <a href="#0" class="pagination__link">Next</a>
    </li>
  </ol>
</section>
