<section id="toasts">
  <h2>Toasts</h2>
  <div class="toast">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis tempora inventore aut doloribus aperiam adipisci quos sapiente error natus, nemo, autem quam nam at eum neque repellat voluptas dolore explicabo!
    <button class="toast__btn"></button>
  </div>
  <hr>
  <div class="grid">
    <div class="col-sm-6 col-md-3">
      <div class="toast toast--primary">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="toast toast--warning">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="toast toast--error">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="toast toast--success">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
    </div>
  </div>
</section>
