.nav {
    position: relative;
}
.nav__list {
    margin: 0;
    padding: 20px;
    list-style: none;
}
.nav__item {
    margin: 0;
}
.nav__link {
    display: flex;
    padding: .5rem .8rem;
    text-decoration: none;
    color: #fff;

    &:hover,
    &.router-link-active {
        text-decoration: none;
        color: #fff;
        background-color: rgba(#000, .15);
    }
}
