<section id="breadcrumbs">
  <h2>Breadcrumbs</h2>
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item"><a href="#0">Dashboard</a></li>
    <li class="breadcrumbs__item"><a href="#0">Summary</a></li>
    <li class="breadcrumbs__item">Current</li>
  </ul>
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item"><a href="#0">Dashboard</a></li>
    <li class="breadcrumbs__item">
      <a href="#0">Summary</a>
    </li>
    <li class="breadcrumbs__item">Result:&nbsp;<a href="#0">Query</a></li>
  </ul>
</section>
