<section id="forms">
  <h2>Forms</h2>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-input" id="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="url">Url</label>
    <div class="input-group">
      <div class="input-group-addon">https://</div>
      <input type="text" class="form-input" id="url" placeholder="www.example.com">
      <button class="input-group-btn btn btn--primary">Send</button>
    </div>
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-input has-error" id="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-input has-success" id="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-input" id="username" placeholder="Username" disabled>
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-input" id="username" placeholder="Username" readonly value="Readonly">
  </div>
  <div class="form-group">
    <textarea name="" id="" class="form-input" placeholder="Say hello )"></textarea>
  </div>
</section>
