<section id="tables">
  <h2>Tables</h2>
  <table class="tbl tbl--bordered tbl--hover">
    <tbody>
      <tr>
        <td>Lorem.</td>
        <td>Quibusdam?</td>
        <td>Impedit.</td>
      </tr>
      <tr>
        <td>Quis?</td>
        <td>Quam.</td>
        <td>Enim?</td>
      </tr>
      <tr>
        <td>Ipsum.</td>
        <td>Eius.</td>
        <td>Deserunt?</td>
      </tr>
    </tbody>
  </table>
  <div class="tbl-responsive">
    <table class="tbl tbl--striped">
      <thead>
        <tr>
          <th>titles1</th>
          <th>titles2</th>
          <th>titles3</th>
          <th>titles4</th>
          <th>titles5</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lorem.</td>
          <td>Sint!</td>
          <td>Illo?</td>
          <td>Placeat!</td>
          <td>Asperiores!</td>
        </tr>
        <tr>
          <td>Necessitatibus.</td>
          <td>Debitis?</td>
          <td>Cumque?</td>
          <td>Neque.</td>
          <td>Cum.</td>
        </tr>
        <tr>
          <td>Repellendus?</td>
          <td>Suscipit!</td>
          <td>Molestias.</td>
          <td>Ullam.</td>
          <td>Minima?</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tbl-responsive">
    <table class="tbl tbl--horizontal-bordered tbl--hover">
      <thead>
        <tr>
          <th>titles1</th>
          <th>titles2</th>
          <th>titles3</th>
          <th>titles4</th>
          <th>titles5</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lorem.</td>
          <td>Sint!</td>
          <td>Illo?</td>
          <td>Placeat!</td>
          <td>Asperiores!</td>
        </tr>
        <tr>
          <td>Necessitatibus.</td>
          <td>Debitis?</td>
          <td>Cumque?</td>
          <td>Neque.</td>
          <td>Cum.</td>
        </tr>
        <tr>
          <td>Repellendus?</td>
          <td>Suscipit!</td>
          <td>Molestias.</td>
          <td>Ullam.</td>
          <td>Minima?</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
