{% extends 'layouts/layout.html' %}

{% block content %}

{% set sections = [
  'typography',
  'grid',
  'forms',
  'buttons',
  'badges',
  'labels',
  'cards',
  'breadcrumbs',
  'responsive-embed',
  'tables',
  'pagination',
  'toasts'
  ]
%}

<div class="wrap">
  <aside class="sidebar">
    <div class="logo"><span>CSS</span> Kit</div>
    <nav class="nav">
      <ul class="nav-list" id="navlist">
        {% for link in sections %}
        <li><a href="#{{ link }}" class="nav-list__link">{{ link }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </aside>
  <main class="content">
    <h1>CSS</h1>
    <p>My set css components for a quick start</p>

    {% for section in sections %}
      {% include './partials/' + section + '.html' %}
      <hr>
    {% endfor %}
  </main>
  <footer>
    Have fun
  </footer>
</div>

{% endblock %}
