$card-radius: .1rem !default;
$card-border: 0.05rem solid #dadee4 !default;
$card-background: #fff !default;
$card-shadow: 0 0.25rem 1rem rgba(20, 20, 20, 0.1) !default;
$card-padding: 1rem !default;
$card-divider-border: 1px solid #ddd !default;

.card {
    display: flex;
    flex-direction: column;
    background: $card-background;
    border: $card-border;
    border-radius: $card-radius;
    box-shadow: $card-shadow;
}

.card__header,
.card__body,
.card__footer {
    padding: $card-padding;
}

.card__header {
    border-bottom: $card-divider-border;
}

.card__footer {
    border-top: $card-divider-border;
}
