$label-padding-y: .2em !default;
$label-padding-x: .45em !default;
$label-font-size: 85%;
$label-font-weight: 600;
$label-border-radius: .25rem;

.label {
    display: inline-block;
    padding: $label-padding-y $label-padding-x;
    font-size: $label-font-size;
    font-weight: $label-font-weight;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: $label-border-radius;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    // Empty badges collapse automatically
    &:empty {
      display: none;
    }

    &.label--primary {
        // @include label-variant($light-color, $primary-color);
    }

    &.label--secondary {
        // @include label-variant($primary-color, $secondary-color);
    }

    &.label--success {
        // @include label-variant($light-color, $success-color);
    }

    &.label--warning {
        // @include label-variant($light-color, $warning-color);
    }

    &.label--error {
        // @include label-variant($light-color, $error-color);
    }
  }
